body {
  font-family: Arial;
}

.todo{ 
  display: flex;
}

.main-title {
  font-size: 24px;
  text-align: center;
  color: rgb(35, 25, 63);
}

.todo-grid, .todo-input-grid{
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  font-size: 16px;
  padding: 5px;
  align-items: center;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 16px;
  padding: 5px
}

.add-todo-button {
  border: none;
  background-color: rgb(27, 183, 27);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.add-todo-button:hover {
  background-color: rgb(7, 105, 7);
}

.delete-todo-button {
  border: none;
  background-color: rgb(154, 30, 30);
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px 10px 20px
}

.delete-todo-button:hover {
  background-color: rgb(98, 16, 16);
}

.text {
  font-size: 20px;
}

.text-line-through {
  text-decoration: line-through;
}

.checkmark {
  margin-right: 10px;
}

.checkmark:hover {
  cursor: pointer;
}

.checkmark img {
  height: 18px;
}

.checked {
  display: none;
}